@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
* {
  font-family: "Roboto-regular";
  list-style-type: none;
}

body, ul, li, h1, h2, p, figure {
  margin: 0;
  padding: 0;
}

header {
  background: white;
}

#menu {
  background: #f2f2f2;
}

#menu h1 {
  font-family: shrikhand;
}

.men h2 {
  margin: 10px 0px 10px 0px;
  font-size: 1.3em;
  font-weight: normal;
  text-decoration: underline #99E2D0;
}

#menu #logo img {
  width: 100%;
}

.figimg {
  height: 260px;
}

.photoresto {
  width: 100%;
}

.fleche a {
  color: black;
  text-decoration: none;
}

figure#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.men {
  position: relative;
  bottom: 35px;
  padding: 30px 15px 25px 15px;
  background: #f2f2f2;
  border-radius: 30px 30px 0px 0px;
}

.headsec {
  display: flex;
  justify-content: space-between;
}

.fleche {
  right: 80px;
  position: relative;
}

.men li {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 7px;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.12);
  font-weight: bold;
}

.descr {
  font-weight: normal;
}

.prix {
  font-size: 0.85em;
  position: absolute;
  right: 30px;
}

.desserts {
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
}

.bouton {
  color: white;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  border: 1px solid #FF79DA;
  background: linear-gradient(#9356dc, #ff79da);
}

.titrebas {
  font-family: Shrikhand;
  margin-bottom: 15px;
  text-decoration: none;
}

footer {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.84);
}

.listebas a {
  text-decoration: none;
  color: white;
}

.logofoot {
  height: 25px;
}

footer i {
  margin-right: 10px;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
* {
  font-family: "Roboto-regular";
  list-style-type: none;
}

body, ul, li, h1, h2, p, figure {
  margin: 0;
  padding: 0;
}

#imglogo {
  height: 50px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

header i {
  margin-right: 15px;
}

#place {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  box-shadow: inset 0px 6px 3px -3px #00000048;
  background: #e0e0e0f2;
}

#recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background: #f2f2f2;
}

#recherche h1 {
  padding: 15px;
}

#txthaut {
  margin-bottom: 20px;
}

.btn__outline--color {
  color: white;
  border: none;
  height: 45px;
  padding: 5px 15px;
  border-radius: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
}

ul.tuto__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numeros {
  position: absolute;
  left: -10px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9356DC;
}

.modele, .modele--highlight {
  margin-bottom: 20px;
  position: relative;
}

.modele {
  box-shadow: 2px 4px 11px -2px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 20px;
  width: 90%;
  background: #f2f2f2;
}
.modele--highlight {
  box-shadow: 2px 4px 11px -2px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9256dc33;
  height: 60px;
  border-radius: 20px;
  width: 90%;
}

.modele:hover {
  background: #9256dc33;
}

.tuto i:hover {
  color: #9356DC;
}

.tuto i {
  margin-right: 20px;
}

.tuto h1 {
  padding: 30px;
}

.menu {
  text-decoration: none;
  color: black;
}

.resto {
  background: #f2f2f2;
}

.resto h1 {
  padding: 20px;
}

.resto ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resto ul li {
  margin-bottom: 20px;
  width: 90%;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.12);
}

figure.resto__figure {
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.resto figure img {
  width: 100%;
}

.resto__txt {
  position: relative;
}

.resto__txt, .resto h2 {
  margin: 10px 0px 10px 15px;
}

i.far.fa-heart {
  position: absolute;
  right: 45px;
  font-size: 1.3em;
}

.titrebas {
  font-family: Shrikhand;
  margin-bottom: 15px;
}

footer {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.84);
}

.logofoot {
  height: 25px;
}

footer i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
