@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
  }
  
*{
    font-family: 'Roboto-regular';
    list-style-type: none;
  }
  
h1,h2{
    font-family: Shrikhand;
  }

body, ul, li, h1, h2, p, figure{
    margin:0;
    padding: 0;
  }

body{
    width: 900px;
  }
  
#logo{
    height: 70px;
  }
  
#place{
    height: 60px;
    box-shadow: inset 0px 6px 3px -3px #00000048;
  }