@font-face {
    font-family: "Roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  }
  * {
    font-family: "Roboto-regular";
    list-style-type: none;
  }
  
  body, ul, li, h1, h2, p, figure {
    margin: 0;
    padding: 0;
  }

  header{
    background: white;
  }

  #menu{
      background: #f2f2f2;
  }

  #menu h1{
      font-family: shrikhand;;
  }

  .headsec{
    margin-bottom: 25px;
  }

  .entrees, .plats, .desserts{
    margin-bottom: 30px;
  }

  hr {
    margin: 0px 0px 10px 0px;
    background: #99E2D0;
    height: 2px;
    border: none;
    width: 41px;
  }

  .men h2 {
    font-size: 1.3em;
    font-weight: normal;
    padding-top: 10px;
}

  #menu #logo img{
      width: 100%;
  }

  .figimg {
    height: 260px;
}

  .photoresto {
    width: 100%;
}

.fleche a {
  color: black;
  text-decoration: none;
}

section.men {
    position: relative;
    bottom: 35px;
    padding: 30px 15px 25px 15px;
    background: #f2f2f2;
    border-radius: 30px 30px 0px 0px;
}

.headsec {
    display: flex;
    justify-content: space-between;
}

.fleche {
    right: 80px;
    position: relative;
}

.men li {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
    background: white;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 7px;
    box-shadow: 1px 3px 10px 0px rgb(0 0 0 / 12%);
    font-weight: bold;
    animation: apparition 1s ease 0s 1 normal forwards;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.descr {
  font-weight: normal;
}

.prix {
  font-size: 0.85em;
  position: absolute;
  right: 30px;
}

.desserts {
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
}

.bouton {
  color: white;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  border: 1px solid #FF79DA;
  background:linear-gradient(#9356dc, #ff79da);
}

  .titrebas {
    font-family: Shrikhand;
    margin-bottom: 15px;
    text-decoration: none;
  }

  .listebas a {
    text-decoration: none;
    color: white;
}
  
  .logofoot {
    height: 25px;
  }
  
  footer i {
    margin-right: 10px;
  }