@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
  }
  
*{
    font-family: 'Roboto-regular';
    list-style-type: none;
  }

body, ul, li, h1, h2, p, figure{
    margin:0;
    padding: 0;
  }

#imglogo {
    height: 50px;
}

#logo{
    @include centre();
    height: 70px;
  }
  
header i{
    margin-right: 15px; 
}

#place{
    @include centre();
    height: 60px;
    box-shadow: inset 0px 6px 3px -3px #00000048;
    background: #e0e0e0f2;
  }

  #recherche{
    @include centre();  
    flex-direction: column;
    padding: 40px;;
    background: #f2f2f2;
  }

  #recherche h1 {
    padding: 15px;
}
  
  #txthaut {
    margin-bottom: 20px;
}

.btn{
    display: flex;
    align-items: center;
    color: white;
    border: none;
    height: 45px;
    padding: 5px 15px;
    border-radius: 30px;
    background: linear-gradient($colour-primary, $colour-secondary);
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 15px -3px #000000;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;        
        box-shadow: 0px 6px 17px -3px #000000;
        background-color: darken($colour-primary, 10) darken($colour-secondary, 10);
        opacity: 0;
        transition: opacity 250ms;
    }
}

ul.tuto__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numeros{
    position: absolute;
    left: -10px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    color: white;
    @include centre;
    background: $colour-primary;
}

.modele, .modele--highlight{
    margin-bottom: 20px;
    position: relative;
}

.modele{
    @include listeombre;
    @include centre;
    height: 60px;
    border-radius: 20px;
    width: 90%;
    background: #f2f2f2;
    
        &--highlight{
            @include listeombre;
            @include centre;
            background: #9256dc33;
            height: 60px;
            border-radius: 20px;
            width: 90%;
        }
}

.modele:hover{
    background: #9256dc33;
}

 .tuto i:hover{
    color: $colour-primary;
 }

.tuto i {
    margin-right: 20px;
}

.tuto h1{
    padding: 30px;
}

.menu {
    text-decoration: none;
    color: black;
}

.resto {
    background: #f2f2f2;
}

.resto h1 {
    padding: 20px;
}

.resto ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resto ul li {
    margin-bottom: 20px;
    width: 90%;
    background: white;
    border-radius: 20px;
    box-shadow: 1px 3px 10px 0px rgb(0 0 0 / 12%);
}

figure.resto__figure {
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.resto figure img {
    width: 100%;
}

.resto__txt{
    position: relative;
}

.resto__txt, .resto h2 {
    margin: 10px 0px 10px 15px;
}

i.far.fa-heart {
    position: absolute;
    right: 45px;
    font-size: 1.3em;
    color: black;
    transition: all 400ms ease-in-out;
    &:hover{
        color: $colour-primary;
    }
}


footer{
    color: white;
    padding: 20px;
    background: rgb(0 0 0 / 84%);
}

.logofoot{
    height: 25px;
}

footer i {
    margin-right: 10px;
}